.isZentask{
    background: linear-gradient(
        155deg,
        #23232344,
        var(--zenMainB)
    );
    overflow-y: hidden;
    border-bottom: 1px solid var(--zenMainC);
    background-color: rgba(0, 0, 0, 0.99);
}
.mood-ring{
    font-family: Suisse Intl-Light;
    width: 99%;
    margin: auto;
    font-size: 3.2rem;
    word-spacing: 2px;
    letter-spacing: -2px;
    line-height: 0.9;
    height: 20%;
}


.mood-choice{
    width: 97%;
    margin: auto;
    height: 55%;
    
    display: grid;
    grid-template-columns: 0.45fr 0.55fr;
    gap: 10px;
    margin-top: 20px;
}


.isMCKnob
{
    cursor: pointer;
	transition: transform 0.5s ease;
	display: flex;
	align-items: center;

    border: 1px solid var(--zenMainA);
    border-radius: 20px;
    height: 45px;
    max-width: 210px;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 95%;
    font-weight: normal;
    letter-spacing: -1.5px;
    word-spacing: 1px;
    margin-bottom: 5px;
    position: relative;
}
.isMCKnob small{
    position: absolute;
    bottom: 7px;
    font-size: 65%;
    letter-spacing: -1px;
    color: var(--zenMainA);
}
.isMCKnob:hover small,
.isMCKnob:hover{
    color: #232323;
}
.isMCKnob:hover{
    transform: scale(1.1);
	transition: 
        transform 0.75s ease, font-size 0.5s ease;
	box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.3);
    background-color: var(--zenMainA);
    font-weight: bold;
    font-size: 75%;
    /* word-spacing: -1px; */

}
.isMCKnob:active
{
	transform: scale(0.9);
	transition: all 0.4s ease;
    font-size: 75%;
    word-spacing: -1px;
}

/* experiment */
    .isMCKnob{
        font-size: 75%;
    }
    .isMCKnob:hover{
        font-size: 90%;
    }
/* end experiment */

.mood-player{
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    background-image: url('./../../../public/images/hinduist-yoga-position.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/******************/
.mood-player::-webkit-scrollbar
{
    background-color: rebeccapurple;
    width: 5px;
    border-radius: 5px;
    cursor: pointer;

    /* have disabled scrollbar permanently since i've included scroll buttons
    associated code and styling kept for reference purposes */
    display: none;
}
.mood-player::-webkit-scrollbar-thumb
{
    background-color: greenyellow;
    border-radius: 5px;
    cursor: grab;
}
.mood-player:active::-webkit-scrollbar-thumb
{
    cursor: grabbing;
}
/******************/

.mpd{
    position: sticky;
    top: 0;
    z-index: 1;
}
.mood-playerKnobs{
    width: 100%;
    height: 50px;
    /* border-bottom: 1px solid var(--zenMainA); */
    border-bottom-right-radius: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
    box-sizing: border-box;
    
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}
.mood-playerKnobs button{
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: 1px outset #232323;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mood-playerKnobs button svg{
    width: 50%;
    height: 50%;
    fill: var(--zenMainC);
}
.mood-playerKnobs button:active{
    border: 1px inset #232323;
}
.mood-playerKnobs button:active svg{
    fill: orange;
}

/**************************/
.isPlaylist{
    background-color: #23232369;
    background: linear-gradient(
        5deg,
        #23232344,
        var(--zenMainB),
        #23232344
    );
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid var(--zenMainA);
    border-bottom: 1px solid transparent;
    position: absolute;
    /* top: 100px; */
    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: auto;
}

/***************************************/
/********mobile in landscape view*******/

@media only screen and (max-width: 1023px) and (max-height: 540px)
{
    .mood-ring{
        font-size: 2.2rem;
    }
    .mood-choice{
        height: 50%;
    }
    .isMCKnob{
        height: 35px;
    }
    .isMCKnob small{
        height: 35px;
        display: none;
    }
    .isPlaylist{
        top: 50px;
    }
}

/* .mood-choice{
    border: 1px solid orange;
}
.mood-cap{
    border: 1px solid red;
}.mood-player{
    border: 1px solid royalblue;
} */