.midbody
{
    position: absolute;
    top: 10rem;
    width: 70%;
    right: 0;

    height: 65%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    /* border: 1px solid gold; */
}
@media only screen and (max-height: 767.98px)
{
    .midbody
    {
        top: 8.8rem;
        max-height: 380px;
    }
}
@media only screen and (max-height: 500px)
{
    .midbody
    {
        max-height: 200px;
        flex-direction: row-reverse;
    }
}
.midbody .info,
.midbody .options
{
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}
.optknobs
{
    position: relative;
    margin: auto;
    width: 175px;
    height: 175px;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    justify-items: center;
    align-items: center;
    /* border: 1px solid gold; */
}
.optknobs .isKnob
{
    width: 70%;
    height: 70%;
    border: 1px solid gold;
    border-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.isKnob{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* opacity: 0.85; */
}
.isKnob.homebar{
    width: 60px;
    height: 60px;
    border-color: transparent;
    fill: white;
}
.isKnob.homebar svg{
    width: 40px;
    height: 40px;
}

.__static{
    opacity: 1;
}
/******/
.zenKnob__anim.homebar svg{
    transition: transform 0.5s linear;
}
.zenKnob__anim.homebar{
    /* transform-style: preserve-3d; */
    transition: 
        transform 0.75s ease-in-out,
        border-color 1.5s ease,
        border-radius 1s ease,
        fill 1.5s linear
    ;
}
.zenKnob__anim.homebar:hover{
    fill: var(--zenMainA);
    border-color: var(--zenMainA);
    transform: rotateY(180deg);
    background-color: #00000050;
    background: linear-gradient(
        45deg,
        #23232344,
        var(--zenMainB)
    );
    border-radius: 50%;
}
.zenKnob__anim.homebar:hover svg{
    transition: transform 1s ease-in;
    transform: rotateZ(-135deg);
}
/******/

/******/
.booksKnob__anim.homebar svg{
    transition: transform 0.75s linear;
}
.booksKnob__anim.homebar{
    transition: 
        transform 0.5s ease-in-out,
        fill 0.5s linear
    ;
}
.booksKnob__anim.homebar:hover{
    fill: black;
    background-color: #00000050;
    background: linear-gradient(
        25deg,
        #ffffff58 60%,
        #23232344,
        #c0c0c093
    );
}
.booksKnob__anim.homebar:hover svg{
    transition: transform 0.75s ease-in;
    stroke: black;
    stroke-linecap: round;
    stroke-opacity: 0.5;
    stroke-width: 0.5;
}
/******/

/******/
.listKnob__anim.homebar svg{
    transition: transform 0.75s linear;
}
.listKnob__anim.homebar:hover svg{
    fill: goldenrod;
    transition: transform 0.75s ease-in;
    stroke: black;
    stroke-linecap: round;
    stroke-opacity: 0.5;
    stroke-width: 0.5;
}
.listKnob__anim.homebar:hover svg{
    transition: transform 1s ease-in-out;
    transform: rotateX(-180deg) rotateY(180deg) rotateZ(180deg);
}
/******/

/******/
.quickKnob__anim.homebar svg{
    transition: transform 0.75s linear;
}
.quickKnob__anim.homebar:hover svg{
    fill: goldenrod;
    transition: transform 0.75s ease-in;
    stroke: black;
    stroke-linecap: round;
    stroke-opacity: 0.5;
    stroke-width: 0.5;
}
.quickKnob__anim.homebar:hover svg{
    transition: transform 0.75s ease-in-out;
    transform: rotateZ(-90deg);
}
/******/

/******/
.midbody .info
{
    font-family: "Suisse Intl", "Lucida Sans", Tahoma, sans-serif;
    font-weight: 400;
    /* font-size: 0.8rem; */
    font-size: 0.85rem;
    letter-spacing: -0.04em;
    /* line-height: 0.95; */

    text-wrap: pretty;
    /* text-align: right; */
    /* word-spacing: 1px; */
    /* color: wheat; */
    text-shadow: 1px 1px 1px black;
}
.info .catch{
    text-align: right;
}
/******/

/*************/
/****icons****/
.zenKnob__anim.underbar {
    background-image: url('../../../public/images/home/lotus.gif');
}
    
.quickKnob__anim.underbar {
    background-image: url('../../../public/images/home/notebook.gif');
}
.listKnob__anim.underbar {
    background-image: url('../../../public/images/home/checklist.gif');
}
.booksKnob__anim.underbar {
    background-color: white;

    background-image: url('../../../public/images/home/book.gif');
    background-size: 85%;
    background-position: center;
}
